@import '~antd/dist/antd.css';

.book{
    width:25%;
    height:320px;
}
.bookImg{
    width:100%;
    height:180px;
    padding-left: 20%;
    padding-right: 20%;
}
p.cardtext{
    font-size: 12px;
    margin:5px;
    text-align: left;
}
.Booklist{
    text-align: center;
}
.Searchbar{
    margin-bottom: 40px;
}
.App {
    text-align: center;
}
